.articles-show-main-container {
  border: 2px solid #00E1B1;
  width: 75%;
  margin: auto;
}

.title-container{

}

.info-container{

}

.image-container{

}

.descr-container{

}

.player-container {

}