.articles-main-container {
  text-align: center;
}

.articles-music-container {
  border: 2px solid black;
  width: 45%;
  height: 149px;
  float: left;
}

.articles-news-container {
  border: 2px solid black;
  width: 45%;
  height: 149px;
  float: right;
}

.articles-news-header {
  border: 1px solid black;
  height: 50px;
  width: 100%;
}

.articles-music-header {
  border: 1px solid black;
  height: 50px;
  width: 100%;

  text-align: center;
}

.options-container {
  text-align: center;
}

.article-pic {
  width: 50%;
  height: 150px;
}

.articles-search{
  padding-top: 40%;
  text-align: center;
}

.main-cont-left {
  float: left;
  width: 45%;
  text-align: center;
}

.main-cont-right {
  float: right;
  width: 45%;
  text-align: center;

}

.article-edit-link {
  text-align: center;
  padding-right: 2%;
  font-size: .8em;
}

a.article-edit-link  {
  color:blue;
}

