body {
  background-color: #FFF;
}

.main-container {
  background-color: white;
  height: 1600px;
  width: 100%;
}

.body-container{
  height: 100%;
  width: 100%;
  background-image: url('logo.png');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.header-container {
  margin-left: 15%;
  text-align: center;
}

.logo-container {
  background-image: url("risenpinephotos/pine.jpg");
  background-size: 100% 100%;
  height: 343px;
  width: 77%;
  margin-top:1%;
  margin-left: 3%;
}

.om {
  background-color: white;
  border-radius: 25px;
}

.drop-down-menus {
}

li {
  list-style: none;
  display: inline;
}

.links {
  margin-left: .5%;
  border: 3px solid #00E1B1;
  /*background-color: #d3d3d3;*/
  box-shadow: 7px 7px 10px #FCC26E;
}

.link-listing {
  margin-left: 15%;
}

.carousel {
  height: 300px;
  width: 70%;
  border: 3px solid #00E1B1;
  margin-left: 5%;
  display: inline-block;
  float: left;
  opacity: .95;
  box-shadow: 7px 7px 20px #FCC26E;
  /*background-image: url('Music_Pic_2.jpg');*/
}



.music-videos_tapes-container {
  height: 500px;
  width: 20%;
  float: right;
  border: 3px solid #00E1B1;
  display: inline-block;
  margin-right: 2%;
  opacity: .8;
  box-shadow: 7px 7px 20px #FCC26E;
}

.music-news-container_1 {
  background-color: white;
  float: left;
  width: 34%;
  height: 600px;
  margin-top: 2.5%;
  margin-left: 5%;
  border: 2px solid #00E1B1;
  opacity: .95;
  box-shadow: 7px 7px 20px #FCC26E;
}

.music-news-container_2 {
  background-color: white;
  float: left;
  width: 34%;
  height: 600px;
  margin-top: 2.5%;
  margin-left: 5%;
  border: 2px solid #00E1B1;
  opacity: .95;
  box-shadow: 7px 7px 20px #FCC26E;
}


#lifestyle-news-container_1 {
  background-color: white;
  float: right;
  width: 34%;
  border: 2px solid #00E1B1;
  height: 600px;
  margin-top: 2.5%;
  margin-right: 3%;
  opacity: .95;
  box-shadow: 7px 7px 20px #FCC26E;
}

#lifestyle-news-container_2 {
  background-color: white;
  float: right;
  width: 34%;
  border: 2px solid #00E1B1;
  height: 600px;
  margin-top: 2.5%;
  margin-right: 25%;
  opacity: .95;
  box-shadow: 7px 7px 20px #FCC26E;
}


.category-header-music-1{
  box-shadow: 7px 7px 10px #FCC26E;
  font-weight: bold;
  font-color: gray;
  text-align: center;
  border: 2px solid #00E1B1;

  /*background-color: #FCC26E;*/
  margin-top: 2%;
  margin-left: 2.5%;
  height: 30px;
  width: 95%;
}

.category-header-music-2{
  box-shadow: 7px 7px 10px #FCC26E;
  font-weight: bold;
  font-color: gray;
  text-align: center;
  /*background-color: #FCC26E;*/
  margin-top: 2%;
  margin-left: 2.5%;
  height: 30px;
  width: 95%;
  border: 2px solid #00E1B1;
}

.category-header-lifestyle-1{
  box-shadow: 7px 7px 10px #FCC26E;
  font-weight: bold;
  font-color: gray;
  text-align: center;
/*  background-color: #FCC26E;
*/  margin-top: 2%;
  margin-left: 2.5%;
  height: 30px;
  width: 95%;
  border: 2px solid #00E1B1;
}

.category-header-lifestyle-2{
  box-shadow: 7px 7px 10px #FCC26E;
  font-weight: bold;
  font-color: gray;
  text-align: center;
  /*background-color: #FCC26E;*/
  margin-top: 2%;
  margin-left: 2.5%;
  height: 30px;
  width: 95%;
  border: 2px solid #00E1B1;
}

.title-header-music-1{
  text-align: center;
  margin-top: 2%;
  margin-left: 2.5%;
  height:50px;
  width: 95%;
}

.title-header-music-2{
  text-align: center;
  margin-top: 2%;
  margin-left: 2.5%;
  height:50px;
  width: 95%;
}

.title-header-lifestyle-1{
  text-align: center;
  margin-top: 2%;
  margin-left: 2.5%;
  height:50px;
  width: 95%;
}

.title-header-lifestyle-2{
  text-align: center;
  margin-top: 2%;
  margin-left: 2.5%;
  height:50px;
  width: 95%;
}

.photo_link-container-music-1{
  margin-top: 2%;
  margin-left: 8%;
  height:300px;
  width: 85%;
  border: 2px solid #00E1B1;
  background-image: url('Music_Pic_1.jpg');
  box-shadow: 7px 7px 20px #FCC26E;
}

.photo_link-container-music-2{
  margin-top: 2%;
  margin-left: 5%;
  height:300px;
  width: 90%;
  border: 2px solid #00E1B1;
  background-image: url('Music_Pic_2.jpg');
  box-shadow: 7px 7px 20px #FCC26E;
}

.photo_link-container-lifestyle-1{
  margin-left: 8%;
  height:300px;
  width: 85%;
  border: 2px solid #00E1B1;
  background-image: url('Lifestyle_Pic_1.jpg');
  box-shadow: 7px 7px 20px #FCC26E;
}

.photo_link-container-lifestyle-2{
  margin-top: 2%;
  margin-left: 8%;
  height: 300px;
  width: 85%;
  border: 2px solid #00E1B1;
  background-image: url('Lifestyle-Pic_2.jpg');
  box-shadow: 7px 7px 20px #FCC26E;
}

.description-container-lifestyle-1{
  margin-top: 2%;
  margin-left: 2.5%;
  height:120px;
  width: 95%;
}

.description-container-lifestyle-2 {
  margin-top: 2%;
  margin-left: 2.5%;
  height:120px;
  width: 95%;
}

.description-container-music-1{
  margin-top: 2%;
  margin-left: 2.5%;
  height:120px;
  width: 95%;
}

.description-container-music-2{
  margin-top: 2%;
  margin-left: 2.5%;
  height:120px;
  width: 95%;
}

.footer-container {
  /*border: 3px solid #FCC26E;*/
  height: 50px;
  width: 100%;
  /*box-shadow: 7px 7px 20px #888888;*/
  background-image: url('footer_logo.jpeg');
  background-repeat:no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.tape-box-1{
  width: 45%;
  height: 30%;
  margin-left: 2%;
  margin-top: 2%;
  border: 2px solid black;
  display: inline-block;
  background-image: url('Music_Pic_2.jpg');
  box-shadow: 7px 7px .25px #FCC26E;
}

.tape-box-2{
  width: 45%;
  height: 30%;
  margin-right: 2%;
  margin-top: 2%;
  border: 2px solid black;
  float: right;
  background-image: url('tape_2.jpg');
  box-shadow: 7px 7px .25px #FCC26E;
}

.tape-box-3{
  width: 45%;
  height: 30%;
  margin-left: 2%;
  margin-top: 2%;
  border: 2px solid black;
  display: inline-block;
  background-image: url('tape-3.jpg');
  box-shadow: 7px 7px .25px #FCC26E;
}

.tape-box-4{
  width: 45%;
  height: 30%;
  margin-right: 2%;
  margin-top: 2%;
  border: 2px solid black;
  float: right;
  background-image: url('tape-4.jpg');
  box-shadow: 7px 7px .25px #FCC26E;
}

.tape-box-5{
  width: 45%;
  height: 30%;
  margin-left: 2%;
  margin-top: 2%;
  border: 2px solid black;
  display: inline-block;
  background-image: url('tape-5.jpg');
  box-shadow: 7px 7px .25px #FCC26E;
}

.tape-box-6{
  width: 45%;
  height: 30%;
  margin-right: 2%;
  margin-top: 2%;
  border: 2px solid black;
  float: right;
  background-image: url('Music_Pic_1.jpg');
  box-shadow: 7px 7px .25px #FCC26E;
}

.title {
  font-size: .75em;
  /*float: left;*/
}

#top, #bottom, #left, #right {
  background: #00E1B1
  ;
  position: fixed;
  }
  #left, #right {
    top: 0; bottom: 0;
    width: 5px;
    box-shadow: 7px 7px 15px #FCC26E;
    }
    #left { left: 0; }
    #right { right: 0; }

  #top, #bottom {
    left: 0; right: 0;
    height: 5px;
    box-shadow: 7px 7px 15px #FCC26E;

    }
    #top { top: 0; }
    #bottom { bottom: 0; }

    @media

/* Fairly small screens including iphones */
only screen and (max-width: 500px),

/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px)

{
  #top, #bottom, #left, #right { display: none; }
}