
$slick-arrow-color: black;
$slick-dot-color: white;

.slick-prev:before  {
  color: $slick-arrow-color;
  }

  .slick-next:before {
  color: $slick-arrow-color;
  }


]


.slick-dots {
  padding-top: 50%;
}