
<div class="mp3-player-container">
</div>

<div class="social-container">
    <a class="social-media-link" href="https://twitter.com/risepine">Twit</a>
    <a class="social-media-link" href="https://www.facebook.com/Risenpine247?fref=nf">Fb</a>
    <a class="social-media-link" href="https://instagram.com/risenpine/">Insta</a>
    <a class="social-media-link" href="">Email</a>
</div>



  <div class="header-container">
    <div class="logo-container">
    </div>
  </div>
</div>



<div class="main-container">

<nav class="nav">
    <ul>
      <li><a class="sublink" href="http://risenpine.com/?cat=5">The Pine</a>
        <ul>
          <li><a href="#">Flowers</a></li>
          <li><a href="#">Extracts</a></li>
          <li><a ref="#">News</a></li>
          <li><a href="#">Videos</a></li>
        </ul>
      </li>

      <li><a class="sublink" href="http://risenpine.com/?cat=11">Music</a>
        <ul>
          <li><a href="#">Singles</a></li>
          <li><a href="#">Mixtapes</a></li>
          <li><a ref="#">News</a></li>
          <li><a href="#">Videos</a></li>
        </ul>
      </li>

      <li><a class="sublink" href="http://risenpine.com/?cat=7">Art</a>
        <ul>
          <li><a href="#">Artists</a></li>
          <li><a ref="#">Walls</a></li>
          <li><a href="#">Videos</a></li>
        </ul>
      </li>

      <li><a class="sublink" href="http://risenpine.com/?cat=4">Events</a>
        <ul>
          <li><a href="#">Local</a></li>
          <li><a ref="#">Music</a></li>
          <li><a href="#">Pine</a></li>
        </ul>
      </li>
    </ul>

      <div class='photo-link'><a href="http://risenpine.com/?cat=4">Photos</a></div>
  </nav>

  <div class="body-container">
    <div class="carousel">
      <div class="your-class">
        <div class="car-ima<!-- ge_1"><img src=""></div>
        <div class="car-image_2"><img src=""></div>
        <div class="car-image_3"><img src=""></div>
        <div class="car-image_4"><img src=""></div>
        <div class="car-image_5"><img src=""></div>
        <div class="car-ima -->ge_6"><img src=""></div>
      </div>
    </div>
  </div>





<div class="articles-container">
  <div class="media-sidebar">
  </div>
</div>


  <footer class='footer-container'>

    <ul>
      <li><a class="sublink" href="http://risenpine.com/?cat=5">The Pine</a>

        <ul>
          <li><a href="#">Flowers</a></li>
          <li><a href="#">Extracts</a></li>
          <li><a ref="#">News</a></li>
          <li><a href="#">Videos</a></li>
        </ul>

      </li>

      <li><a class="sublink" href="http://risenpine.com/?cat=11">Music</a>

        <ul>
          <li><a href="#">Singles</a></li>
          <li><a href="#">Mixtapes</a></li>
          <li><a ref="#">News</a></li>
          <li><a href="#">Videos</a></li>
        </ul>

      </li>

      <li><a class="sublink" href="http://risenpine.com/?cat=7">Art</a>

        <ul>
          <li><a href="#">Artists</a></li>
          <li><a ref="#">Walls</a></li>
          <li><a href="#">Videos</a></li>
        </ul>

      </li>

      <li><a class="sublink" href="http://risenpine.com/?cat=4">Events</a>

        <ul>
          <li><a href="#">Local</a></li>
          <li><a ref="#">Music</a></li>
          <li><a href="#">Pine</a></li>
        </ul>

      </li>

    </ul>

      <div class='up-photo-link'><a href="http://risenpine.com/?cat=4">Photos</a></div>

  </footer>

</div>


<!-- <div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div> -->

