
<div class="mp3-player-container">
</div>



<div class="om">
  <div class="header-container">
    <div class="logo-container">
    </div>
  </div>
</div>


<div class="main-container">
  <nav class="drop-down-menus">
    <ul class="links">
      <li class="link-listing"><a href="http://risenpine.com/?cat=5">The Pine</a></li>
      <li class="link-listing"><a href="http://risenpine.com/?cat=11">Hip Hop</a></li>
      <li class="link-listing"><a href="http://risenpine.com/?cat=7">Videos</a></li>
      <li class="link-listing"><a href="http://risenpine.com/?cat=4">Downloads</a></li>
    </ul>
  </nav>

  <div class="body-container">
    <div class="carousel">
      <div class="your-class">
        <div class="car-image_1"><img src="../../assets/drake"></div>
        <div class="car-image_2"><img src="../../assets/kanye.jpg"></div>
        <div class="car-image_3"><img src="../../assets/2chainz.jpg"></div>
        <div class="car-image_4"><img src="../../assets/drake.jpg"></div>
        <div class="car-image_5"><img src="../../assets/2chainz.jpg"></div>
        <div class="car-image_6"><img src="../../assets/kanye.jpg"></div>
      </div>
    </div>


  <div class="music-news-container_1">
    <div class="category-header-music-1">
    </div>

    <div class="title-header-music-1">
    </div>

    <div class="photo_link-container-music-1">
    </div>

    <div class="description-container-music-1">
    </div>
  </div>

  <div id="lifestyle-news-container_1">
    <div class="category-header-lifestyle-1">
    </div>

    <div class="title-header-lifestyle-1">
    </div>

    <div class="photo_link-container-lifestyle-1">
    </div>

    <div class="description-container-lifestyle-1">
    </div>
  </div>

  <div class="music-news-container_2">
    <div class="category-header-music-2">
    </div>

    <div class="title-header-music-2">
    </div>

    <div class="photo_link-container-music-2">
    </div>

    <div class="description-container-music-2">
    </div>
  </div>

  <div id="lifestyle-news-container_2">
    <div class="category-header-lifestyle-2">
    </div>

    <div class="title-header-lifestyle-2">
    </div>

    <div class="photo_link-container-lifestyle-2">
    </div>

    <div class="description-container-lifestyle-2">
    </div>
  </div>
</div>

<div class="footer-container">
  <footer class="footer">
  </footer>
</div>


<div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div>